@{
    ViewBag.Title = "Inicio";
}

<main class="text-center mt-5">
    <img src="~/Content/images/control360.png" alt="Control360" class="img-fluid" style="max-width: 100%; height: auto;" />

</main>